Repository dskaggs/monorepo-label-example, changes with the labels that .github/labeler.yml gives for each.
All labels: platform/web, platform/server, stack/angular, stack/react, stack/node, area/shared, area/angular-app-one, area/react-app-one, area/node-app-one

.github/labeler.yml:

# This file manages the labels automatically applied to PRs based on the files changed

platform/web:
- libs/web/**/*
- apps/angular-app-one/**/*
- apps/react-app-one/**/*

platform/server:
- libs/server/**/*
- apps/node-app-one/**/*

stack/angular:
- libs/web/angular/**/*
- apps/angular-app-one/**/*

stack/react:
- libs/web/react/**/*
- apps/react-app-one/**/*

stack/node:
- libs/server/node-app-one/**/*
- apps/node-app-one/**/*

area/shared:
- libs/web/angular/shared/**/*
- libs/web/react/shared/**/*

area/angular-app-one:
- libs/web/angular/angular-app-one/**/*
- apps/angular-app-one/**/*

area/react-app-one:
- libs/web/react/react-app-one/**/*
- apps/react-app-one/**/*

area/node-app-one:
- libs/server/node-app-one/**/*
- apps/node-app-one/**/*

Left my mark on the HTML
  apps/angular-app-one/src/app/app.component.html
Labels: platform/web, stack/angular, area/angular-app-one

Added missing content
  libs/web/react/react-app-one/feature/some-lib-one/src/lib/web-react-react-app-one-feature-some-lib-one.tsx
Labels: platform/web, stack/react, area/react-app-one

Added new feature to our shiny node app
  libs/server/node-app-one/feature/some-lib-three/.babelrc
  libs/server/node-app-one/feature/some-lib-three/.eslintrc.json
  libs/server/node-app-one/feature/some-lib-three/README.md
  libs/server/node-app-one/feature/some-lib-three/jest.config.js
  libs/server/node-app-one/feature/some-lib-three/project.json
  libs/server/node-app-one/feature/some-lib-three/src/index.ts
  libs/server/node-app-one/feature/some-lib-three/src/lib/server-node-app-one-feature-some-lib-three.spec.ts
  libs/server/node-app-one/feature/some-lib-three/src/lib/server-node-app-one-feature-some-lib-three.ts
  libs/server/node-app-one/feature/some-lib-three/tsconfig.json
  libs/server/node-app-one/feature/some-lib-three/tsconfig.lib.json
  libs/server/node-app-one/feature/some-lib-three/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: platform/server, stack/node, area/node-app-one

Added an aweseome shared data table component
  libs/web/angular/shared/ui/some-lib-one/src/lib/awesome-data-table/awesome-data-table.component.css
  libs/web/angular/shared/ui/some-lib-one/src/lib/awesome-data-table/awesome-data-table.component.html
  libs/web/angular/shared/ui/some-lib-one/src/lib/awesome-data-table/awesome-data-table.component.spec.ts
  libs/web/angular/shared/ui/some-lib-one/src/lib/awesome-data-table/awesome-data-table.component.ts
  libs/web/angular/shared/ui/some-lib-one/src/lib/web-angular-shared-ui-some-lib-one.module.ts
Labels: platform/web, stack/angular, area/shared

Updated README
  libs/web/angular/angular-app-one/feature/some-lib-one/README.md
Labels: platform/web, stack/angular, area/angular-app-one

Updated main README
  README.md
Labels: none
